
<h2>Welcome!</h2>
<p>Please excuse any long search times, the site is currently running on a developer key with a lower rate limit.  Follow us on twitter <%= link_to "@EloForge", "https://twitter.com/eloforge" %> for daily updates and announcements.</p>


<h3>Evaluate your last game now!</h3>
<%= form_tag("summoner/search", method: "post") do %>
  <%= text_field_tag(:search, nil, placeholder: 'Summoner Name') %>
  <%= select 'servers' , 'server', %w(NA EUW EUNE BR LAN), :include_blank => false%>
  <%= submit_tag("Go") %>
<% end %>
<!-- Valid Servers: #NA EUW EUNE KR BR LAN LAS OCE RU TR -->