
<h1 class="win"><%= @summoner.formattedName %></h1>
<h1 class="loss"><%= @summoner.formattedName %></h1>



<p>Games Tracked: <%= @game2 %></p>
<p>Match ID: <%= @game.gameId %></p>
<h3>Lane</h3>
<p>QueueType</p>
<% if @update < 900 %>
<p>Can be updated in: <%= 900 - @update %> seconds.</p>
<% else %>
<p>Update Now!</p>
<% end %>


