<h1><%= @summoner.formattedName %></h1>

<div id="game-header">
	<h3><%= @lane.to_s + " " + @champion["name"].to_s %></h3>
	<h4>
	<% @allyNames.each do |a| %>
		<%= a.to_s %> 
	<% end %>
	</h4>
	<% if @ownerParticipantStats["winner"] == true %>
<h3 class="win">Victory!</h3>
<% else %>
<h3 class="loss">Defeat :(</h3>
<% end %>
	<% if @game.queueType.to_s == "RANKED_SOLO_5x5" %>
	<p><%= @summoner.server.upcase %> <%= @ownerParticipant["highestAchievedSeasonTier"].to_s.capitalize %> Ranked Soloqueue</p>
	<% end %>
	<p>Patch <%= @game.matchVersion %></p>

</div>



<div id="increment-breakdown">
<% @userEventFrames.each do |frame| %>
	<% if frame[:timestamp]/1000 >= 60 %>
	<%= ((frame[:timestamp]/1000)/60).floor %> minutes and <%= ((frame[:timestamp]/1000)%60) %> seconds.
	<% else %>
	<%= (frame[:timestamp]/1000) %> seconds.
	<% end %>

	<% if frame[:event]["eventType"] == "ITEM_PURCHASED" %>
		Item Purchased: <%= @items["data"][frame[:event]["itemId"].to_s]["name"].to_s %>
	<% elsif frame[:event]["eventType"] == "SKILL_LEVEL_UP" %>
		Skill Point : <%= @skillSlots[frame[:event]["skillSlot"]] %>
	<% elsif frame[:event]["eventType"] == "ITEM_DESTROYED" %>
		Item Destroyed: <%= @items["data"][frame[:event]["itemId"].to_s]["name"] %>
	<% elsif frame[:event]["eventType"] == "WARD_PLACED" %>
		Ward Placed: <%= frame[:event]["wardType"] %>
	<% else %>
		FRAME: <%= frame[:event]["eventType"] %>
	<% end %>
	<br />
<% end %>

<!-- {"eventType"=>"SKILL_LEVEL_UP", "timestamp"=>2104, "skillSlot"=>3, "participantId"=>10, "levelUpType"=>"NORMAL"} 
{"eventType"=>"ITEM_PURCHASED", "timestamp"=>3526, "itemId"=>1056, "participantId"=>10}
{"eventType"=>"ITEM_DESTROYED", "timestamp"=>248514, "itemId"=>2003, "participantId"=>10}-->

</div>


<% @ownerParticipant.inspect %>

<span>
<% if @update < 900 %>
<p>Can be updated in: <%= 900 - @update %> seconds.</p>
<% else %>
<p>Update Now!</p>
<% end %>
</span>


