<h1><%= @summoner.formattedName %></h1>

<div id="game-header">
	<h3><%= image_tag (ENV['CHAMPION_IMAGES'].to_s + @champion["image"]["full"].to_s)%></h3>
	<h4>
	<% @allyNames.each do |a| %>
		<%= image_tag((ENV['CHAMPION_IMAGES'].to_s + a["image"]["full"].to_s), height: "60px", alt: "#{a["name"]}") %>
		<% #a["image"]["full"].to_s %> 
	<% end %>
	</h4>
	<% if @ownerParticipantStats["winner"] == true %>
<h3 class="win">Victory!</h3>
<% else %>
<h3 class="loss">Defeat :(</h3>
<% end %>
	<% if @game.queueType.to_s == "RANKED_SOLO_5x5" %>
	<p><%= @summoner.server.upcase %> <%= @ownerParticipant["highestAchievedSeasonTier"].to_s.capitalize %> Ranked Soloqueue</p>
	<% end %>
	<p>Patch <%= @game.matchVersion %></p>

</div>


<div id="increment-breakdown">

	<h3>Match Minutes</h3>

<% @userEventFrames.each do |frame| %>
	<% if frame[:timestamp]/1000 >= 60 %>
	<%= ((frame[:timestamp]/1000)/60).floor %> minutes and <%= ((frame[:timestamp]/1000)%60) %> seconds.
	<% else %>
	<%= (frame[:timestamp]/1000) %> seconds.
	<% end %>

	<% if frame[:event]["eventType"] == "ITEM_PURCHASED" %>
		Item Purchased: <%= image_tag((ENV['ITEM_IMAGES'].to_s + @items["data"][frame[:event]["itemId"].to_s]["image"]["full"].to_s)) %>

		<%= @items["data"][frame[:event]["itemId"].to_s]["name"].to_s %>
	<% elsif frame[:event]["eventType"] == "SKILL_LEVEL_UP" %>
		Skill Point : <%= @skillSlots[frame[:event]["skillSlot"]] %>
	<% elsif frame[:event]["eventType"] == "ITEM_DESTROYED" %>
		Item Destroyed: <%= @items["data"][frame[:event]["itemId"].to_s]["name"] %>
	<% elsif frame[:event]["eventType"] == "WARD_PLACED" %>
		Ward Placed: <%= frame[:event]["wardType"] %>
	<% else %>
		FRAME: <%= frame[:event]["eventType"] %>
	<% end %>
	<br />
<% end %>

<h3>Level Progression</h3>
<% @userParticipantFrames.each do |frame|%>
	Minute <%= (frame[:timestamp]/1000)/60 %> | 
	Level <%= frame[:frame]["level"] %> | 
	Gold: <%= frame[:frame]["currentGold"].to_s %> (<%= frame[:frame]["totalGold"] %>) | 
	CS <%= (frame[:frame]["minionsKilled"].to_i + frame[:frame]["jungleMinionsKilled"].to_i).to_s %> ( Jungle Creeps: <%= frame[:frame]["jungleMinionsKilled"] %>) |
	XP <%= frame[:frame]["xp"].to_s %>
	<br />
<% end %>
<!--
{:timestamp=>0, :ownerId=>"10", :frame=>{"participantId"=>10, "position"=>{"x"=>14237, "y"=>14579}, "currentGold"=>475, "totalGold"=>475, "level"=>1, "xp"=>0, "minionsKilled"=>0, "jungleMinionsKilled"=>0, "dominionScore"=>0, "teamScore"=>0}}
-->
<!-- {"eventType"=>"SKILL_LEVEL_UP", "timestamp"=>2104, "skillSlot"=>3, "participantId"=>10, "levelUpType"=>"NORMAL"} 
{"eventType"=>"ITEM_PURCHASED", "timestamp"=>3526, "itemId"=>1056, "participantId"=>10}
{"eventType"=>"ITEM_DESTROYED", "timestamp"=>248514, "itemId"=>2003, "participantId"=>10}-->

</div>


<% #@ownerParticipant.inspect %>

<span>
<% if @update < 900 %>
<p>Can be updated in: <%= 900 - @update %> seconds.</p>
<% else %>
<p>Update Now!</p>
<% end %>
</span>


