<h1><%= @summoner.formattedName %></h1>

<div id="game-header">
	<h3><%= @lane.to_s + " " + @champion["name"].to_s %></h3>
	<h4>
	<% @allyNames.each do |a| %>
		<%= a.to_s %> 
	<% end %>
	</h4>
	<% if @ownerParticipantStats["winner"] == true %>
<h3 class="win">Victory!</h3>
<% else %>
<h3 class="loss">Defeat :(</h3>
<% end %>
	<% if @game.queueType.to_s == "RANKED_SOLO_5x5" %>
	<p><%= @summoner.server.upcase %> <%= @ownerParticipant["highestAchievedSeasonTier"].to_s.capitalize %> Ranked Soloqueue</p>
	<% end %>
	<p>Patch <%= @game.matchVersion %></p>

</div>

<div id="increment-breakdown">
<% @game.timeline["frames"].each do |frame| %>
	<%= frame["timestamp"] %> :
	PARTICIPANT FRAME : 
	<% frame["participantFrames"][@game.ownerParticipantId].each do |slice| %>
		<%= slice.to_s %> &nbsp;
	<% end %>
	<br /><br />

	<% if frame["events"] != nil %>
	EVENT FRAME: 
		<% frame["events"].each do |event| %>
			<% if event["participantId"] == @game.ownerParticipantId.to_i %>
				<%= event["timestamp"] / 1000 %> : <%= event["eventType"]%>
				<% if event["itemId"] != nil %>
					ItemID: <%= event["itemId"].to_s %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>


	<br /><br />
<% end %>

</div>


<% @ownerParticipant.inspect %>

<span>
<% if @update < 900 %>
<p>Can be updated in: <%= 900 - @update %> seconds.</p>
<% else %>
<p>Update Now!</p>
<% end %>
</span>


