<h1>EloForge</h1>

<p>Evaluate your last game now!</p>
<%= form_tag("summoner/search", method: "post") do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Go") %>
<% end %>
<% if $globalQueue %>
 <div class="error"><%= flash[:error] %></div>
<%= $globalQueue.inspect %>
<p>Short: <%= $globalQueue.shortTimer %></p>
<p>Long: <%= $globalQueue.longTimer %></p>
<% @total_summoners.each do |s| %>
<p><%= s.formattedName %> was last updated <%= Time.now.to_i - s.lastUpdated.to_i %> seconds ago</p>
<% end %>
<% end %>