<h1><%= @summoner.formattedName %></h1>
<h3><%= @gameData['matches'][9]['participants'][0]['timeline']['lane']%></h3>
<p><%= @gameData['matches'][9]['queueType']%></p>
<p><%= @summoner.lastUpdated %></p>
<p><%= (@summoner.lastUpdated.to_i - Time.now.to_i)%></p>
<p>KDA: <%= (@gameStats['kills'].to_i + @gameStats['assists'].to_i*1.00 )/@gameStats['deaths'].to_i %></p>
<p>Overall DPS: <%= @gameStats['totalDamageDealt'].to_i / @gameData['matches'][9]['matchDuration']%></p>
<p>Damage Taken per second: <%= @gameStats['totalDamageTaken'].to_i / @gameData['matches'][9]['matchDuration']%></p>
<p>Healing per second: <%= @gameStats['totalHeal'].to_i / @gameData['matches'][9]['matchDuration']%></p>
<p>CS per minute: <%= (@gameStats['neutralMinionsKilled'].to_i + @gameStats['minionsKilled'].to_i) / (@gameData['matches'][9]['matchDuration']/60.0) %></p>
<% if @gameStats['wardsPlaced'] != nil %>
<p>Wards per 3 minutes: <%= ( @gameStats['wardsPlaced']) / ( @gameData['matches'][9]['matchDuration'] / 180.0 ) %></p>
<% else %>
<p>Wards per 3 minutes: 0 </p>
<% end %>
<p>Wards destroyed: <%= @gameStats['wardsKilled'] %></p>
<% if @gameStats['totalTimeCrowdControlDealt'] != nil %>
<p>Minutes of Crowd Control: <%= @gameStats['totalTimeCrowdControlDealt'] / 60.00 %></p>
<% end %>
<p><%= @gameData['matches'] %></p>

<!-- TODO: Evaluate itemization -->
<!-- TODO: CHAMPION NUMBER TO NAME--> 