<% if @gameStats['winner'] %>
<h1 class="win"><%= @summoner.formattedName %></h1>
<% else %>
<h1 class="loss"><%= @summoner.formattedName %></h1>
<% end %>
<h3><%= @lane%></h3>
<p><%= @queueType%></p>
<% if @update < 900 %>
<p>Can be updated in: <%= 900 - @update %> seconds.</p>
<% else %>
<p>Update Now!<%= 900 - @update %></p>
<% end %>
<p>KDA: <%= (@gameStats['kills'].to_i + @gameStats['assists'].to_i*1.00 )/@gameStats['deaths'].to_i %></p>
<p>Overall DPS: <%= @gameStats['totalDamageDealt'].to_i / @gameData['matches'][9]['matchDuration']%></p>
<p>Damage Taken per second: <%= @gameStats['totalDamageTaken'].to_i / @gameData['matches'][9]['matchDuration']%></p>
<p>Healing per Minute: <%= @gameStats['totalHeal'].to_i / @gameData['matches'][9]['matchDuration']*60.00%></p>
<p>CS per minute: <%= (@gameStats['neutralMinionsKilled'].to_i + @gameStats['minionsKilled'].to_i) / (@gameData['matches'][9]['matchDuration']/60.0) %></p>
<% if @gameStats['wardsPlaced'] != nil %>
<p>Wards per 3 minutes: <%= ( @gameStats['wardsPlaced']) / ( @gameData['matches'][9]['matchDuration'] / 180.0 ) %></p>
<% else %>
<p>Wards per 3 minutes: 0 </p>
<% end %>
<p>Wards destroyed: <%= @gameStats['wardsKilled'] %></p>
<% if @gameStats['totalTimeCrowdControlDealt'] != nil %>
<p>Minutes of Crowd Control: <%= @gameStats['totalTimeCrowdControlDealt'] / 60.00 %></p>
<% end %>
<h3>Head to Head</h3>
<table>
	<tr>
		<td>Test</td>
		<td>CS Per Minute</td>
		<td>XP Per Minute</td>
		<td>Damage Taken Per Minute</td>
	</tr>
	<tr>
		<td>Early Game(0m-10m)</td>
		<td><%= @selectedMatch['timeline']['creepsPerMinDeltas']['zeroToTen'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['xpPerMinDeltas']['zeroToTen'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['damageTakenPerMinDeltas']['zeroToTen'].to_s %> </td>
	</tr>
	<tr>
		<td>Mid Game (10m-20m)</td>
		<td><%= @selectedMatch['timeline']['creepsPerMinDeltas']['tenToTwenty'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['xpPerMinDeltas']['tenToTwenty'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['damageTakenPerMinDeltas']['tenToTwenty'].to_s %> </td>
	</tr>
		<td>Late Game (20m-30m)</td>
		<td><%= @selectedMatch['timeline']['creepsPerMinDeltas']['twentyToThirty'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['xpPerMinDeltas']['twentyToThirty'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['damageTakenPerMinDeltas']['twentyToThirty'].to_s %> </td>
	<tr>
		<td>Super Late Game (30m-end)</td>
		<td><%= @selectedMatch['timeline']['creepsPerMinDeltas']['thirtyToEnd'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['xpPerMinDeltas']['thirtyToEnd'].to_s %> </td>
		<td><%= @selectedMatch['timeline']['damageTakenPerMinDeltas']['thirtyToEnd'].to_s %> </td>
	</tr>

</table>

<p><%= @gameData['matches'][9] %></p>

<!-- TODO: Evaluate itemization -->
<!-- TODO: CHAMPION NUMBER TO NAME--> 