<!DOCTYPE html>
<html>
<head>
  <title>EloForge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png'%>
  <meta name="description" content="EloForge is a site designed to analyze League of Legends players games and give them pointers to improve.">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="container">

	<div id="header">
	<%= render 'mainHeader' %>
	</div>

	<div id="content">
	<%= yield %>
	</div>

	<div id="footer">
	<%= render 'footer'%>
	</div>

</div>

</body>
</html>
